aggforce @ git+https://github.com/noegroup/aggforce.git -e
h5py
jsonargparse
matplotlib
mdtraj
mlcg @ git+https://github.com/ClementiGroup/mlcg.git@1.0.0 -e
natsort
networkx
numpy 
torchist
pandas
PyYAML
scikit-learn
SciPy
torch
torch_geometric
tqdm
